*{
    margin: 0;
    padding: 0;

}
.container{
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    grid-template-rows: repeat(3, auto);
    gap: 1px;
}
header{
    background-color: purple;
    height: 508px;
    /* inicio */
    grid-row-start: 1;
    grid-column-start: 1;
    /*  fim */
     grid-row-end: 1;
    grid-column-end: 4;
    background-repeat: no-repeat;
    background-image: url(https://www.revistaestilo.net/binrepository/1280x508/0c0/0d0/none/179468266/VCIB/opas_5791121_20231016150117.png);
    background-size:100% 508px ;
} 





main{
    /*background-color: rgb(255, 86, 114);*/
    height: auto;
    /* inicio */
    grid-row-start: 2;
    grid-column-start:1 ;
    /* fim */
    grid-row-end:2;
    grid-column-end: 4;
}

main .titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 47px;
    padding-top: 33px;
    font-size: 24px;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 4%;
    padding-top: 3px;
    width: 92%;
    height: 48px;
}
main img{
    margin-left: 5%;
    width: 90%;
    padding-top: 25px;
}
 footer h3{
font-weight: 100;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
font-size: 30px;
border-bottom: 1px solid black;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    grid-template-rows: repeat(2, auto);
    gap: 0px;
    height: 10px;
}
footer h3{
   /* inicio */
   grid-row-start: 1;
   grid-column-start: 1;
   /* fim */
   grid-row-end: 1;
   grid-column-end: 4;
   margin-top: 80px;
   font-size: 25px;
}

footer section img{
 height: 215px;
 margin-left: 17px;
margin-top: 41px;
width: 365px;
}

footer h5{
    margin-left: 150px;
margin-top: 10px;
}
.p2{
    font-size: 11px;
    margin-left: 25px;
    color: black;
    width: 85%;
}

footer .left-footer{
    background-color: rgb(165, 165, 165);
    height: 450px;
    /* inicio */
    grid-row-start: 2;
    grid-column-start: 1;
    /* fim */
    grid-row-end: 2;
    grid-column-end: 2;
}

footer .center-footer{
    background-color: rgb(165, 165, 165);
    height: 450px;
    /* inicio */
    grid-row-start: 2;
    grid-column-start: 2;
    /* fim */
    grid-row-end: 2;
    grid-column-end: 3;
}
footer .right-footer{
    background-color: rgb(165, 165, 165);
    height: 450px;
    /* inicio */
    grid-row-start: 2;
    grid-column-start: 3;
    /* fim */
    grid-row-end: 2;
    grid-column-end: 4;
}
footer section h4{
    margin-left: 33px;
    margin-top: 20px;
}
